@model OBSPRO.Models.OBSCollectionForm

@{
    ViewBag.Title = "viewForm";
}

<h2>viewForm</h2>


This is a place holder to Display Form Id "@ViewData["formInsId"]"
<h4>@Model.observedEmployeeId</h4><br>
<h4>@Model.dBColFormStatus</h4><br>
<h4>@Model.colFormStatus</h4><br>

