@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding:10px; margin-bottom:10px">
    <div style="font-size:large">
        <span style="font-weight:bold;">User Name:</span>
        @User.Identity.Name
    </div>
</div>

<fieldset style="border: double 6px black" name="TEST" title="USER DASHBOARD">
    <span class="glyphicon glyphicon-dashboard" style="text-align:center; width:80%; font-weight:bold; font-size:larger"> &nbsp; USER DASHBOARD</span><br />
    <div class="row dashboard" style="margin:5px 20px">
        
        @*- - - - - - - - - - - - - - - - - - - - -  Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
        <div class="row personal-info">
            <div class="panel panel-info">
                <!-- PANEL HEADER-->
                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <a class="accordion-toggle" data-toggle="collapse" href="#panelSection01">
                                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                    @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                    @*<span class="caret">&nbsp;</span>*@
                                    <b>Open Observations</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- PANEL BODY -->
                <div class="panel-body collapse in" id="panelSection01">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Col1</th>
                                <th>Col2</th>
                                <th>Col3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item 1-A</td>
                                <td>Item 1-B</td>
                                <td>Item 1-C</td>
                            </tr>
                            <tr>
                                <td>Item 2-A</td>
                                <td>Item 2-B</td>
                                <td>Item 2-C</td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.ActionLink("show More ...", "noaction")
                </div>
            </div>
        </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
        @*- - - - - - - - - - - - - - - - - - - - -  Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
        <div class="row personal-info">
            <div class="panel panel-info">
                <!-- PANEL HEADER-->
                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <a class="accordion-toggle" data-toggle="collapse" href="#panelSection02">
                                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                    @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                    @*<span class="caret">&nbsp;</span>*@
                                    <b>Ready For Review</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- PANEL BODY -->
                <div class="panel-body collapse in" id="panelSection02">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Col1</th>
                                <th>Col2</th>
                                <th>Col3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item 1-A</td>
                                <td>Item 1-B</td>
                                <td>Item 1-C</td>
                            </tr>
                            <tr>
                                <td>Item 2-A</td>
                                <td>Item 2-B</td>
                                <td>Item 2-C</td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.ActionLink("show More ...", "noaction")
                </div>
            </div>
        </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
        @*- - - - - - - - - - - - - - - - - - - - -  Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
        <div class="row personal-info">
            <div class="panel panel-info">
                <!-- PANEL HEADER-->
                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <a class="accordion-toggle" data-toggle="collapse" href="#panelSection03">
                                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                    @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                    @*<span class="caret">&nbsp;</span>*@
                                    <b>Completed Observations</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- PANEL BODY -->
                <div class="panel-body collapse in" id="panelSection03">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Col1</th>
                                <th>Col2</th>
                                <th>Col3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item 1-A</td>
                                <td>Item 1-B</td>
                                <td>Item 1-C</td>
                            </tr>
                            <tr>
                                <td>Item 2-A</td>
                                <td>Item 2-B</td>
                                <td>Item 2-C</td>
                            </tr>
                        </tbody>
                    </table>
                    @Html.ActionLink("show More ...", "noaction")
                </div>
            </div>
        </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
    </div>
</fieldset>